@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: opacity 0.5s ease-in-out;
  }

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #1B1A34;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: fixed;
    width: 100%;
    background: linear-gradient(#1B1A34 60%, transparent);
    
}

.brand {
    margin-top: -7px;

}

.brand span {
    color: aqua;

}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}

.menu {
    list-style: none;

}


.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}


.menu-lenguaje {
    list-style: none;
    position: absolute;
    display: none;
    width: 110px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.menu li:hover .menu-lenguaje {
    display: block;
}

.menu-lenguaje li a {
    color: #fff;
}
.menu-lenguaje li a:hover {
    background-color: black;
    color: #fff;
}

.menu-lenguaje li a{
    display: block;
    color: white;
    padding: 16px 15px, 15px, 20px;
}



.menu .active{
    color: aqua;

}

.menu a:hover{
    background-color: aqua;
    color: #1B1A34;
    transition: ease-in .4s;
}



.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 150px;
}

.Frase span {
    color: #fff;
    font-size: 1.2em;
}

.Frase span  i{
    font-style: normal;
    font-weight: bold;
    color:#00ffff;
    
}



h1 {
    font-size: 3em;

}

span {
    color: aqua;
}

.typewriterES {
    display: block;
    
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;

    animation: typingES 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typingES {
    from {width: 0}

}

@keyframes blink {
    50% {border-color: transparent}

}

.typewriterIN {
    display: block;
    
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch;

    animation: typingES 2s steps(17), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typingIN {
    from {width: 0}

}

@keyframes blink {
    50% {border-color: transparent}

}

.download-cv {
    padding: 10px 20px;
    background: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover{
    background-color: #1B1A34;
    box-shadow: none;
    color: #fff;

}

.main img {
    width: 400px;
    border: 7px solid aqua;
    margin-top: 3px;
    margin-left: 2cm;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 95%, rgba(27,26,52,1) 100%);
}

.about img{
    width: 100%;
    grid-column: 1/5;
    font-size: 400px;
    margin-top: 30px
    
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #1B1A34;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #00ffff;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects-headings {
    width: 100vw;
    padding: 5em;
}

.projects-headings h2 {
    font-size: 2.5em;

}



.projects .container1{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container2{
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container2 {
    margin-top: -70px;
}

.card1, .card2, .card3, .card4{
    width: 300px;
    background-color: #2b3058;
    height: 350px;
    margin: 1em;
    transition: transform ease-in .4s
    
    
}
.card_img1 {
    width: 100%;
    height: 150px;
    background-image: url(imagenes/terrorfrente.jpg);
    background-size: cover;
}

.card_img2 {
    width: 100%;
    height: 150px;
    background-image: url(imagenes/casitafrente.jpg);
    background-size: cover;
}

.card_img3 {
    width: 100%;
    height: 150px;
    background-image: url(imagenes/Feelsgood1.jpeg);
    background-size: cover;
}

.card_img4 {
    width: 100%;
    height: 150px;
    background-image: url(imagenes/espasio.jpg);
    background-size: cover;
}





.card_title {
    padding: 20px;
}

.projects-links {
    display: flex;
    justify-content: space-evenly;
}

.projects-links a{
    color: #fff;
    text-decoration: none;
}

.projects-links i{
    font-size: 1.5em;

}

.projects-links i img{
    height: 22px;
    width: 100%;
    color: #fff;


}

.card1 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}

.card2 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}
 
.card3 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}

.card4 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}

.card1 .boton {
    text-decoration: none;

}

.card2 .boton {
    text-decoration: none;
}

.card3 .boton {
    text-decoration: none;

}

.card4 .boton {
    text-decoration: none;
}



.proyect-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;

}

.project-details{
    padding: 10px 20px;
    background: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);

}

.project-details:hover{
    background-color: #fff;
    box-shadow: none;

}

.card1:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}

.card2:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}

.card3:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}


.card4:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}

.projects {
    width: 100vw;
    background: rgb(27,26,52);
    background: linear-gradient(0deg, rgba(27,26,52,1) 95%, rgba(255,255,255,1) 100%);
    color: #fff;
}

.habilidades {
    width: 100vw;
    background: rgb(27,26,52);
    color: #fff;

}

.habilidades .container-slider{
    height: 100vh;
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px)rotateY(0deg);
    }
    100% {
        transform: perspective(1000px)rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(380px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

.contact-section {
    width: 100vw;
    background: rgb(27,26,52);
    color: #fff;

}

.container-contact{

    align-items: center;
    grid-template-columns: repeat(10,1fr);

    display: grid;


}

.container-contact img{
    width: 650px;
    height: 600px;
    bottom: 0px;
    grid-column: 1/5;
    

}

.form{
    display: flex;
    flex-direction: column;
    grid-column: 5/10;
    width: 30vw;
    margin: 2em;

}

.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #00ffff;
    color: #fff;
}

.form textarea {
    height: 150px;
    background: none;
    color: #fff;
    padding: 1.5em;
    border: 1px solid #00ffff;
    resize: none;
}

.btn-submit{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #00ffff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.contact-form h4{
    margin-left: 30px;
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 1em;
    color: #000;
    border: none;
    text-transform: uppercase;
    background-color: #00ffff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

input[type="submit"]:hover{
    background-color: #fff;
    box-shadow: none;
}

.btn-submit:hover{
    background-color: #fff;
    box-shadow: none;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background: rgb(0,255,255);
    background: linear-gradient(0deg, rgba(0,255,255,1) 93%, rgba(27,26,52,1) 100%);
  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }

  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    
  }
  
  .sotial-networks i {
    font-size: 1.5em;
  }

  .sotial-networks a {
    text-decoration: none;
    color: black;
    padding: 0.1em;

  }

  .modal:target{
    background: rgba(0, 0, 0, .5);
    visibility: visible;
    opacity: 1;
  }

  .modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;

  }

  .contenedor{
    width: 600px;
    height: 500px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
  }

  .contenedor header {
    padding: 10px;
    background: #1B1A34;
    color: #fff;

  }

  .contenedor header a{
    
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-top: -19px;
 

  }

  .modal .container-tex {
    font-style: bold;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;
  }

  .sliderIMG{
    position: relative;
    width: 90%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 30px;
  }

  .sliderIMG2{
    position: relative;
    width: 70%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 90px;
  }

  .images-slider{
    display: flex;
    width: 100%;
    

  }

  .images-slider img, video {
    height: 300px;
    width: 100%;
    transition: all 0.15s ease;
  }

  .images-slider input{
    display: none;
  }

  .dots{
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #000 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
  }

  .dots label:hover{
    background: #00ffff;
  }
#img1:checked ~ .m1 {
    margin-left: -0%;
}

#img2:checked ~ .m2 {
    margin-left: -100%;
}

#img3:checked ~ .m3 {
    margin-left: -200%;
}

#img4:checked ~ .m4 {
    margin-left: -300%;
}

#img5:checked ~ .m5 {
    margin-left: -400%;
}

#img6:checked ~ .m6 {
    margin-left: -500%;
}

#img7:checked ~ .m7 {
    margin-left: -600%;
}

#img8:checked ~ .m8 {
    margin-left: -700%;
}

#img9:checked ~ .m9 {
    margin-left: -800%;
}

#img10:checked ~ .m10 {
    margin-left: -900%;
}

#img11:checked ~ .m11 {
    margin-left: -1000%;
}



#img12:checked ~ .m12 {
    margin-left: -1100%;
}

#img13:checked ~ .m13 {
    margin-left: -1200%;
}

#img14:checked ~ .m13 {
    margin-left: -1300%;
}



#Timg1:checked ~ .t1 {
    margin-left: -0%;
}

#Timg2:checked ~ .t2 {
    margin-left: -100%;
}

#Timg3:checked ~ .t3 {
    margin-left: -200%;
}

#Timg4:checked ~ .t4 {
    margin-left: -300%;
}

#Cimg1:checked ~ .c1 {
    margin-left: -0%;
}

#Cimg2:checked ~ .c2 {
    margin-left: -100%;
}

#Cimg3:checked ~ .c3 {
    margin-left: -200%;
}

#Aimg1:checked ~ .a1 {
    margin-left: -0%;
}

#Aimg2:checked ~ .a2 {
    margin-left: -100%;
}

#Aimg3:checked ~ .a3 {
    margin-left: -200%;
}

#Aimg4:checked ~ .a4 {
    margin-left: -300%;
}









