@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: opacity 0.5s ease-in-out;
  }

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #1B1A34;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: fixed;
    width: 100%;
    background: linear-gradient(#1B1A34 60%, transparent);
}

.brand {
    margin-top: -7px;

}

.brand span {
    color: aqua;

}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu {
    list-style: none;

}


.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}


.menu-lenguaje {
    list-style: none;
    position: absolute;
    display: none;
    width: 110px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.menu li:hover .menu-lenguaje {
    display: block;
}

.menu-lenguaje li a {
    color: #fff;
}
.menu-lenguaje li a:hover {
    background-color: black;
    color: #fff;
}

.menu-lenguaje li a{
    display: block;
    color: white;
    padding: 16px 15px, 15px, 20px;
}



.menu .active{
    color: aqua;

}

.menu a:hover{
    background-color: aqua;
    color: #1B1A34;
    transition: ease-in .4s;
}



.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 150px;
}

.Frase span {
    color: #fff;
    font-size: 1.2em;
}

.Frase span  i{
    font-style: normal;
    font-weight: bold;
    color:#00ffff;
    
}



h1 {
    font-size: 3em;

}

span {
    color: aqua;
}

.typewriterES {
    display: block;
    
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;

    animation: typingES 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typingES {
    from {width: 0}

}

@keyframes blink {
    50% {border-color: transparent}

}

.typewriterIN {
    display: block;
    
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch;

    animation: typingES 2s steps(17), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typingIN {
    from {width: 0}

}

@keyframes blink {
    50% {border-color: transparent}

}

.download-cv {
    padding: 10px 20px;
    background: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover{
    background-color: #1B1A34;
    box-shadow: none;
    color: #fff;

}

.main img {
    width: 400px;
    border: 7px solid aqua;
    margin-top: 3px;
    margin-left: 2cm;
}


.animate-bg::before, .animate-bg::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(120deg, #ff2a2a, #009ac0, #1b4acc,);
    background-size: 300%;
    width: calc(100% +16);
    height: calc(100% +16);
    z-index: -1;
    animation: BGgradient 15s ease infinite;
}



.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 95%, rgba(27,26,52,1) 100%);
}

.about img{
    width: 100%;
    grid-column: 1/5;
    font-size: 400px;
    margin-top: 30px
    
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #1B1A34;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #00ffff;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects-headings {
    width: 100vw;
    padding: 5em;
}

.projects-headings h2 {
    font-size: 2.5em;

}

.projects .container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card1, .card2, .card3 {
    width: 300px;
    background-color: #2b3058;
    height: 350px;
    margin: 1em;
    transition: transform ease-in .4s
    
    
}
.card_img {
    width: 100%;
    height: 150px;
    background-image: url(imagenes/xd.jpg);
    background-size: cover;
}

.card_title {
    padding: 20px;
}

.projects-links {
    display: flex;
    justify-content: space-evenly;
}

.projects-links a{
    color: #fff;
    text-decoration: none;
}

.projects-links i{
    font-size: 1.5em;

}

.projects-links i img{
    height: 22px;
    width: 100%;
    color: #fff;


}

.card1 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}

.card2 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}
 
.card3 .project-details { 
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #1B1A34;
    text-transform: uppercase;
}

.card1 .boton {
    text-decoration: none;

}

.card2 .boton {
    text-decoration: none;
}

.card3 .boton {
    text-decoration: none;

}
.proyect-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;

}

.project-details{
    padding: 10px 20px;
    background: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);

}

.project-details:hover{
    background-color: #fff;
    box-shadow: none;

}

.card1:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}

.card2:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}

.card3:hover{
    transform: scale(1.1);
    transition: ease-in .4s;
}

.projects {
    width: 100vw;
    background: rgb(27,26,52);
    background: linear-gradient(0deg, rgba(27,26,52,1) 95%, rgba(255,255,255,1) 100%);
    color: #fff;
}

.habilidades {
    width: 100vw;
    background: rgb(27,26,52);
    color: #fff;

}

.habilidades .container-slider{
    height: 100vh;
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px)rotateY(0deg);
    }
    100% {
        transform: perspective(1000px)rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(380px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background: rgb(0,255,255);
    background: linear-gradient(0deg, rgba(0,255,255,1) 93%, rgba(27,26,52,1) 100%);
  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }

  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    
  }
  
  .sotial-networks i {
    font-size: 1.5em;
  }

  .sotial-networks a {
    text-decoration: none;
    color: black;
    padding: 0.1em;

  }